<div id="<%= dom_id pet_tracker %>">
  <p>
    <strong>Date:</strong>
    <%= pet_tracker.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= pet_tracker.time %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= pet_tracker.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet_tracker.description %>
  </p>

  <p>
    <strong>Wet amount:</strong>
    <%= pet_tracker.wet_amount %>
  </p>

  <p>
    <strong>Wet left amount:</strong>
    <%= pet_tracker.wet_left_amount %>
  </p>

  <p>
    <strong>Dry amount:</strong>
    <%= pet_tracker.dry_amount %>
  </p>

  <p>
    <strong>Dry left amount:</strong>
    <%= pet_tracker.dry_left_amount %>
  </p>

</div>
