<p style="color: green"><%= notice %></p>

<% content_for :title, "Pet trackers" %>

<h1 class="text-center mt-4">Pet Trackers</h1>
<%= link_to "Add Feeding Record", new_pet_tracker_path, class: "d-flex justify-content-center" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Brand</th>
      <th scope="col">Description</th>
      <th scope="col">Wet Amount</th>
      <th scope="col">Wet Left Amount</th>
      <th scope="col">Wet Total Ate Amount</th>
      <th scope="col">Dry Amount</th>
      <th scope="col">Dry Left Amount</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      <% @pet_trackers.each_with_index do |pet_tracker, idx| %>
        <tr>
          <th scope="row"><%= idx+1 %></th>
          <td><%= pet_tracker.date %></td>
          <td><%= pet_tracker.time %></td>
          <td><%= pet_tracker.brand %></td>
          <td><%= pet_tracker.description %></td>
          <td><%= pet_tracker.wet_amount %></td>
          <td><%= pet_tracker.wet_left_amount %></td>
          <td><%= (pet_tracker.wet_amount).to_f - (pet_tracker.wet_left_amount).to_f %></td>
          <td><%= pet_tracker.dry_amount %></td>
          <td><%= pet_tracker.dry_left_amount %></td>
          <td><%= link_to "Edit", edit_pet_tracker_path(pet_tracker)  %></td>
          <td><%= button_to "Delete", pet_tracker, method: :delete, image_tag("icon_delete.png")  %></td>
        </tr>
      <% end %>
  </tbody>
</table>
