<p style="color: green"><%= notice %></p>

<%= render @pet_tracker %>

<div>
  <%= link_to "Edit this pet tracker", edit_pet_tracker_path(@pet_tracker) %> |
  <%= link_to "Go to Pet Trackers Table", pet_trackers_path %>

  <%= button_to "Destroy this pet tracker", @pet_tracker, method: :delete %>
</div>
